.sidenav-width {
    width: 280px !important;
}

.active-link {
    background-color: gold !important;
    color: #f1f1f1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgb(233, 150, 122);
    overflow-x: hidden;
}

span.open-lines {
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    transition: all .3s;
}

.sidenav span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
}

.sidenav span:hover, .offcanvas span:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.nav-offcanvas {
    background: #201F27;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    transform: translate3d(-300px, 0, 0);
    transition: all .3s;
    z-index: 9999;
}

.nav-offcanvas.open {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}
